<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Dev Standard</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="/index.html/"/>

        <!--STYLES-->
        <link rel="stylesheet" href="/libs/bootstrap-3.3.6/css/bootstrap.css">
        <link rel="stylesheet" href="/css/index/common.css">
        <link rel="stylesheet" href="/libs/ag-grid-master-7.0.2/dist/styles/ag-grid.css">
        <link rel="stylesheet" href="/libs/ag-grid-master-7.0.2/dist/styles/theme-material.css">
        <!--STYLES END-->
    </head>

    <body>
        <app>Loading...</app>

        <!--SCRIPTS-->
        <script src="/libs/lodash-4.11.1/lodash.js"></script>
        <script src="/libs/jquery-2.2.3/jquery-2.2.3.js"></script>
        <script src="/libs/angular-1.5.5/angular.js"></script>
        <script src="/libs/angular-ui-router-0.2.18/angular-ui-router.js"></script>
        <script src="/libs/rxjs-4.1.0/rx.all.js"></script>
        <script src="/libs/ag-grid-master-7.0.2/dist/ag-grid.js"></script>
        <script src="/apps/index/boot.js"></script>
        <script src="/apps/index/app/app-routing.js"></script>
        <script src="/apps/index/app/app.js"></script>
        <script src="/apps/index/ex/test.js"></script>
        <script src="/apps/index/main/column-checkbox/main-column-checkbox.js"></script>
        <script src="/apps/index/main/column-renderer/main-column-renderer.js"></script>
        <script src="/apps/index/main/country-renderer/main-country-renderer.js"></script>
        <script src="/apps/index/main/main-routing.js"></script>
        <script src="/apps/index/main/main.js"></script>
        <script src="/apps/index/main/reqToSvr.js"></script>
        <script src="/apps/index/main/skill-filter/main-skill-filter.js"></script>
        <script src="/apps/index/menu/menu-routing.js"></script>
        <script src="/apps/index/menu/menu.js"></script>
        <script src="/apps/index/menu/reqToSvr.js"></script>
        <script src="/apps/index/page1/page1-routing.js"></script>
        <script src="/apps/index/page1/page1.js"></script>
        <script src="/apps/index/page1/reqToSvr.js"></script>
        <script src="/apps/index/util/appStore.js"></script>
        <script src="/apps/index/util/popupManager.js"></script>
        <script src="/libs/sails-io-0.13.6/sails.io.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
