<nav class="navbar navbar-inverse">
	<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a ui-sref="main">Ag-grid</a></li>
				<li><a ui-sref="page1">Jq-grid</a></li>
			</ul>
		</div>
	</div>
</nav>
