<div>
	<h2>Ag-grid</h2>
	<div style="padding: 4px">
		<div style="float: right;">
			<input type="text" ng-model="gridOptions.quickFilterText" placeholder="Type text to filter..."/>
		</div>
		<div style="padding: 4px;">
			<b>Employees Skills and Contact Details</b> ({{rowCount}})
		</div>
		<div style="clear: both;"/>
	</div>

	<div ag-grid="gridOptions" class="ag-material" style="height: 400px;"></div>
	<div style="padding: 4px;"> <b>Days Used Avg</b> : {{avg | number:2}}</div>
	<div style="padding: 4px;"> <b>Days Used Filter Avg</b> : {{displayAvg | number:2}}</div>
	<button style="padding: 4px;" ng-click="export()"> <b>export</b></button>

</div>