<div>
	<div>
		<div style="text-align: center; background: lightgray; width: 100%; display: block; border-bottom: 1px solid grey;">
			<b ng-bind="title"></b></div>
	</div>
	<span ng-repeat="skill in skills">
		<label style="border: 1px solid lightgrey; margin: 4px; padding: 4px;">
			<span>
				<div style="text-align: center;" ng-bind="skill.name"></div>
				<div>
					<input type="checkbox" ng-model="skill.checked" ng-click="onClick({checkedItem : { name : skill.imageName, checked : skill.checked }})">
					<img ng-src="{{getIamgePath(skill.imageName)}}" width="30px">
				</div>
			</span>
		</label>
	</span>
</div>